#level-changer {
    position: fixed;
    bottom: var(--fixed-margin);
    right: var(--fixed-margin);
    color: black;
}
#level-changer .level-changer-buttons {
    position: absolute;
    pointer-events: all;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
}
#level-changer .level-button {
    pointer-events: all;
    display: inline-block;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 40%;
    height: 110%;
    top: 50%;
}
#level-changer .level-button:hover {
    cursor: pointer;
}
#level-changer .level-button i {
    border-radius: 3px;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(.4,-0.9,0,1.75);
}
#level-changer .level-changer-buttons .increase-button:hover i {
    transform: translateY(calc(var(--level-changer-hover-amt) * -1));
    border-top: 3px solid black;
}
#level-changer .level-changer-buttons .decrease-button:hover i {
    transform: translateY(var(--level-changer-hover-amt));
    border-bottom: 3px solid black;
}
#level-changer .current-level-text {
    padding-right: 10%;
    float: left;
}