* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: #26381c;
    background: linear-gradient(45deg, rgba(38,56,28,1) 0%,rgba(64,91,45,1) 50%,rgba(38,56,28,1) 100%);
    background-size: fill;
}

#main {
    width: 100%;
    height: 100%;
    color: white;
}
#main .row {
    height: 100vh;
}

#text-column {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    padding: 10px 5%;
    text-align: center;
}
#text-column .inner-content {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#text-column .inner-content::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 50%;
    width: 90%;
    height: 100%;
    transform: translateX(-50%);
    border: 1px solid white;
    border-left: none;
    border-right: none;
}
#text-column .tilt-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: none;
}
#text-column .tilt-container::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1.0);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(201,201,201,1) 50%,rgba(255,255,255,1) 100%);
    opacity: 0.1;
}
#text-column .showcase-text {
    font-size: 2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    transform: translate(-50%, -50%);
}
#text-column .title {
    margin-top: 5%;
}
#text-column .border-piece {
    position: absolute;
    right: 0px;
    height: 90%;
    top: 50%;
    border: 2px solid white;
    border-radius: 100%;
    transform: translate(50%, -50%);
}

#image-column {
    position: absolute;
    width: 50vw;
    height: 100%;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
#image-column.active {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1.0);
    top: 0px;
}
.image-slider {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.image-slider .image-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
.image-slider .image-holder:not(.active):hover {
    cursor: pointer;
}
.image-slider .image-holder .gradient-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%,rgba(243, 243, 243, 1) 50%,rgba(170, 170, 170, 1) 50%,rgba(255, 255, 255, 1) 100%);
    transition: 0.3s;
}
.image-slider .image-holder:not(.active):hover .gradient-overlay {
    opacity: 0.3;
}
.image-slider .image-holder.active {
    transition: 0.3s;
    width: 90%;
    height: 90%;
}
.image-slider .full-image-text {
    opacity: 0;
    font-size: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 999;
    transition: 0.3s;
    width: 100%;
    text-align: center;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.3);
}
.image-slider .image-holder:not(.active):hover .full-image-text {
    opacity: 1;
    transform: translate(-50%, -50%);
}
.image-slider .image-holder:not(.active):hover img {
    transform: translate(-50%, -50%) scale(1.05);
}
.image-slider .image-holder img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    width: auto;
    transition: 0.4s;
    transform: translate(-50%, -50%);
    transition-timing-function: cubic-bezier(.4,-0.9,0,1.75);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.image-holder-background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(1.05);
    filter: blur(20px) brightness(0.8);
}
#image-column .close-button {
    display: none;
    color: white;
    -webkit-text-stroke: 4px black; 
    text-stroke: 4px black;
    position: fixed;
    top: var(--fixed-margin);
    right: var(--fixed-margin);
    z-index: 999;
    font-size: 6vw;
    transition: 0.3s;
	transition-timing-function: cubic-bezier(.4,-0.9,0,1.75);
}
#image-column .close-button:hover {
    cursor: pointer;
    filter: brightness(0.8);
    transform: scale(1.1);
}

@media (orientation: portrait) {
    #main .row {
        height: 50vh;
    }
    #text-column .showcase-text {
        font-size: 4vw;
    }
    #text-column {
        width: 100vw;
        height: 50vh;
    }
    #text-column .border-piece {
        display: none;
    }
    #text-column .title h1 {
        font-size: 7vw;
    }
    #image-column {
        width: 100%;
        height: 50vh;
        top: 50%;
    }
    #image-column .close-button {
        font-size: 15vw;
    }
    #image-column .full-image-text {
        font-size: 7vw;
    }
}