:root {
    --level-changer-hover-amt: 2.5px;
    --fixed-margin: 20px;
    --nav-border-radius: 10px;
    --secondary-color: #c0d6f9;
}

@media (orientation: portrait) {
    :root {
        --fixed-margin: 10px;
    }
}